# Copia este archivo como .env y completa los valores
MONGODB_URI=
FRONTEND_URL=https://album-digital-eight.vercel.app/
PORT=5000
JWT_SECRET=cambia_este_secreto
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123